DATABASE_URL="mysql://root:@localhost:3306/ava_online"
JWT_SECRET="change-me-super-secret"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
UPLOAD_DIR="./uploads"
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_mhPsroZSLZtF5c0n_ua7xdvA38qd4JROYPKnAawGbAja75I"
