# Local MySQL
DATABASE_URL="mysql://root:@localhost:3306/ava_online"

# Aiven MySQL example
# DATABASE_URL="mysql://avnadmin:SENHA_DO_AIVEN@mysql-xxxxx.a.aivencloud.com:12345/defaultdb?sslaccept=strict"

JWT_SECRET="change-me-super-secret"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
UPLOAD_DIR="./uploads"
BLOB_READ_WRITE_TOKEN=""
